<!DOCTYPE html>
<html>
    <head>
        <title>Space.</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/magnific-popup.css" rel="stylesheet">
        <link href="/css/font-awesome.min.css" rel="stylesheet">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">

        <script type="text/javascript" src="/js/angular.min.js"></script>
        <script type="text/javascript" src="/js/jquery-2.2.0.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.magnific-popup.min.js"></script>
        <script type="text/javascript">
            angular.module('MyApp', []);
        </script>
    </head>
    <body ng-app="MyApp">
        <!-- Header with logo -->
        <div ng-include="'/header.html'"></div>
        <!-- Main content -->
        <div class="row content-container">
            <!-- Instructions and CRUD icons -->
            <div id="intro-content">
                <div class="hidden-xs">
                    <span class="intro">Click on the icons to edit or remove your post.</span>

                    <a href="/users" role="button"><i class="fa fa-home fa-2x update-icons"></i></a>
                    <a href="/users/delete/<%= user.title %>" role="button"><i class="fa fa-trash fa-2x update-icons"></i></a>
                    <a href="#test-form" class="popup-with-form" role="button"><i class="fa fa-pencil-square-o fa-2x update-icons edit-icon"></i></a>
                </div>
                <div class="visible-xs">
                    <div class="intro">Click on the icons to edit or remove your post.</div>
                    <div id="icons-mobile">
                        <a href="/users" role="button"><i class="fa fa-home fa-2x update-icons"></i></a>
                        <a href="/users/delete/<%= user.title %>" role="button"><i class="fa fa-trash fa-2x update-icons"></i></a>
                        <a href="#test-form" class="popup-with-form" role="button"><i class="fa fa-pencil-square-o fa-2x update-icons edit-icon"></i></a>
                    </div>
                </div>
            </div>
            <!-- Main post display -->
            <div class="row" id="single-post-content">
                <div id="post-header" >
                    <span id="post-title"><%= user.titleDecoded %></span>

                    <span id="post-created-date"><%= user.createdDate %></span>
                </div>
                <div id="post-author-info">
                    <img src="<%= user.thumbnailImage %>" id="thumbnail"></img>
                    <div id="post-byline">Written by <span id="post-author"><%= user.author %></span></div>
                    <div id="post-category"><%= user.category %></div>
                </div>
                <div id="post-content">
                    <%= user.content %>
                </div>
            </div>
            <!-- Hidden form pops up when the "Update" icon is presses -->
            <form action="/users/<%= user.title %>" method="POST" id="test-form" class="mfp-hide white-popup-block">
                <div class="form-title">Update Post</div>

                <div>
                    <label class="form-label">Title</label>
                    <div class="input-box"><input type="text" id="title" name="titleDecoded" value="<%= user.titleDecoded %>" class="form-input"/></div>
                </div>

                <div>
                    <label>Author</label>
                    <div class="input-box"><input type="text" id="author" name="author" value="<%= user.author %>" class="form-input"/></div>
                </div>

                <div>
                    <label>Category</label>
                    <div class="input-box"><input type="text" id="category" name="category" value="<%= user.category %>" class="form-input"/></div>
                </div>

                <div>
                    <label>Content</label>
                    <div class="input-box"><textarea id="content" name="content" value="<%= user.content %>" class="form-input"/><%= user.content %></textarea></div>
                </div>

                <div>
                    <label>Thumbnail Images</label>
                    <div class="input-box"><input type="text" id="thumbnailImage" name="thumbnailImage" value="<%= user.thumbnailImage %>" class="form-input"/></div>
                </div>

                <button class="btn btn-secondary btn-lg active create-button" id="create-button-form">Update Post</button>
            </form>
            <script src="/js/form.js"></script>
        </div>
        <!-- Footer with product info and logo source credit -->
        <div ng-include="'/footer.html'"></div>
    </body>
</html>
